$navbar-height: 68.5px;
$chatHeading-height: 72.81px;
$chatSend-color: #0084ff;
$chatReceive-color: #e4e6eb;

.list__container {
    padding: 10px;
}

.grid__content {
    border: 0.5px solid #ccc;
    height: calc(100vh - $navbar-height);
}

.list__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__search,
.chat__input {
    width: 100vw;
    height: 30px;
    padding: 0 15px;
    border-radius: 999px;
    border: 0.5px solid #ccc;
    background-color: #f0f2f5;
}

.chat__container {
    
}

.chat__heading {
    border-bottom: 0.5px solid #ccc;
}

.chat__footer {
}

@mixin chat__box {
    border-radius: 999px;
    line-height: 21px;
    padding: 5px 10px;
    max-width: 600px;
    width: fit-content;
    float: right;
    margin-bottom: 2px;
}

.chat__box {
    height: calc(100vh - $chatHeading-height - $navbar-height - 46.5px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    &__content {
        padding: 0px 20px;
        flex: 1;
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;
        scroll-behavior: smooth;
        
        &__send {
            @include chat__box();
            background-color: $chatSend-color;
            color: #f0f2f5;
            align-self: end;
        }
        
        &__receive {
            @include chat__box();
            background-color: $chatReceive-color;
        }
    }
}
