$navbar-height: 68.5px;
$chatHeading-height: 72.81px;

.list__container {
    padding: 10px;
}

.grid__content {
    border: 0.5px solid #ccc;
    height: calc(100vh - $navbar-height);
}

.list__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__search,
.chat__input {
    width: 100vw;
    height: 30px;
    padding: 0 15px;
    border-radius: 999px;
    border: 0.5px solid #ccc;
    background-color: #f0f2f5;
}

.chat__heading {
    border-bottom: 0.5px solid #ccc;
}

.chat__footer {
}

.chat__content {
    height: calc(100vh - $chatHeading-height - $navbar-height - 46.5px);
}